<!DOCTYPE html>
<html lang="es">

<head>
    <title>ERROR 404</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/404.css" media="screen">
</head>

<body>
    <h1>ERROR 404</h1>
    <h2>Ups... something went wrong</h2>
    <p>La dirección <code><%= url %></code> no existe</p>

</body>

</html>