<li id="search_result_item">
    <div class="search_result_item_name_and_picture">
        <img src="/imagen/<%= v.email %>" class="person">
        <a href="/amigos/amigo/<%= v.email %>">
            <%= v.name%>
        </a>
    </div>