<div id="encabezado">
    thirty
    <div id="menu">
        <a href="/profile">Perfil</a>
        <a href="/amigos">Amigos</a>
        <a href="/preguntas">Preguntas</a>
        <a href="/logout">Desconectar</a>
        <div id="points"> <%= puntos %> puntos</div>
    </div>
</div>