<!DOCTYPE html>
<html lang="es">

<head>
    <title>30</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/diseño.css" media="screen">
    <link rel="icon" type="img/png" href="resources/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="facebluff.js"></script>
</head>

<body>
    <div id="encabezado">
        thirty
        <div id="menu">
            <a href="/profile">Perfil</a>
            <a href="">Amigos</a>
            <a href="">Preguntas</a>
            <a href="/logout">Desconectar</a>
            <div id="points">50 pts</div>
        </div>
    </div>
    <div id="data">
        <h2>Tu perfil</h2>
        <div id="info">
            <div id="profile">
                <img src="/imagen/<%= usuario.email %>" class="imgPerfil">
                <div id="datos">
                    <p>
                        <%= usuario.name %>
                    </p>
                    <p>
                        <%= usuario.birthday %>
                    </p>
                    <p>
                        <%= usuario.gender %>
                    </p>
                    <p>50 puntos</p>
                </div>
            </div>
            <div id="boton">
                <a href="" class="button">Modificar perfil</a>
            </div>
        </div>
    </div>

</body>

</html>