#ventana {
    background-color: green;
    border: solid darkgreen 1px;
}

/*#superficie:hover {
    cursor: crosshair;
}*/

#superficie {
    display: none;
    border: 2px dashed green;
    width: 300px;
    height: 200px;
    background-color: lightgreen;
}


#contenedor {
    background: burlywood;
    border: dotted red 1px;
    width: 150px;
    height: 150px;
    display: flex;

}

#region1 {
    background: lightgreen;
    border: solid black 1px;
    width: 50px;
    height: 100px;
    margin: 1%;
}

#region2 {
    background: lightgreen;
    border: solid black 1px;
    width: 50px;
    height: 100px;
    margin: 1%;
}

.rojo {
    color: red;
}

span.indicador {
    border: 1px solid red;
    padding: 5px;
}

span.activo {
    background-color: rgba(255, 0, 0, 0.2);
}

.parrafo {
    border: dotted red 2px;
}

.cuadro {
    border: solid 1px black;
    width: 300px;
    height: 100px;
}